@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@font-face {
	font-family: 'Sporting Grotesque';
	src: url('./fonts/SportingGrotesque/SportingGrotesque-Regular.otf');
}

@font-face {
	font-family: 'Sporting Grotesque';
	font-weight: bold;
	src: url('./fonts/SportingGrotesque/SportingGrotesque-Bold.otf');
}

body {
	scroll-behavior: smooth;
}

.font-shadow {
	text-shadow: 0 0 2px #fff;
}

.star {
	position: absolute;
	background: #fbfbfc;
	border-radius: 100%;
	height: var(--height);
	width: var(--width);
	top: calc(var(--y) * 1vh);
	left: calc(var(--x) * 1vw);
	transform: scale(var(--scale));
	box-shadow: var(--boxShadow);
	animation-name: glow;
	animation-duration: var(--animationDuration);
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.icon-stroke {
	-webkit-text-stroke: 2px;
	/* -webkit-text-stroke-width: 4px; */
}

.image-position {
	object-position: 50% 100%;
}

.image-position-higher {
	object-position: 50% 90%;
}

.mango-link:hover .follow-img,
.banana-link:hover .follow-img,
.pineapple-link:hover .follow-img {
	opacity: 1;
}

.mango-link:hover,
.banana-link:hover,
.pineapple-link:hover {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px;
	z-index: 2;
	transition: ease-out 1s;
}

.mango-link:hover .hovered,
.banana-link:hover .hovered,
.pineapple-link:hover .hovered {
	opacity: 1;
	transition: ease-out 1s;
}
.follow-img {
	opacity: 0;
	height: auto;
	width: 100px;
	box-sizing: border-box;
	transition: ease 0.5s;
	position: absolute;
	transform: translate(-50%, -50%);
	/* z-index: -1; */
	object-fit: cover;
	rotate: 35deg;
}

.line-style {
	transform-origin: 100% 0%;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.animation-spin {
	animation: spin 3s linear infinite;
}

@-webkit-keyframes glow {
	0% {
		opacity: 0.5;
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	100% {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
}

@keyframes glow {
	0% {
		opacity: 0.5;
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	100% {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
}

.transparent-text {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px;
}

.triangle {
	width: 10px;
	height: 10px;
	border-bottom: solid 10px #d5cdc4;
	border-left: solid 6px transparent;
	border-right: solid 6px transparent;
	transition: all 0.3s 0.1s;
}

.toggle-down {
	transform: rotate(0deg);
}

.toggle-up {
	transform: rotate(-180deg);
}

.swiper-slide img {
	width: 100%;
	height: 420px;
	object-fit: cover;
}

.swiper-pagination {
	position: relative !important;
	bottom: 0px !important;
	text-align: unset !important;
	display: flex !important;
	justify-content: space-between !important;
	gap: 10px !important;
	margin-top: 10px !important;
}

.swiper-pagination-bullet {
	background-color: #d5cdc4 !important;
	height: 4px !important;
	width: 45px !important;
	border-radius: 0% !important;
	display: inline-flex !important;
	margin: 0 !important;
	flex-grow: 1 !important;
}

.parallax {
	overflow: hidden;
	letter-spacing: -2px;
	line-height: 1.2;
	margin: 0;
	white-space: nowrap;
	display: flex;
	flex-wrap: nowrap;
}

.parallax .scroller {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 80px;
	display: flex;
	white-space: nowrap;
	display: flex;
	flex-wrap: nowrap;
}

.parallax span {
	display: block;
	margin-right: 30px;
}

.text-transition {
	font-size: 10em;
	z-index: 1;
	margin: 0;
	white-space: nowrap;
	margin-top: auto;
	transition: all 2s ease-in-out;
}

.overlay_container {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 32px;
	left: 0;
	pointer-events: none;
}
input {outline: 0 !important;}